.header {
  background: var(--gray-800);
  display: flex;
  justify-content: center;
  padding: 1.25rem 0;
  color: #e1e1e6;
  gap: 0.5rem;
}

.header img {
  height: 3rem;
}

.header strong {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}
